In [8]:
radius = 5
pi = 3.14
area = (pi*radius**2)
print("The Area of circul is " +str(area) )

The Area of circul is 78.5

In [9]:
rad = 5
pai = 3.14
area = pai*rad*rad
print(area)

78.5

In [13]:
city = ["faisalabad", "islamabad", "karachi", "lahore", "queta"]
result = ["93.4", "95", "98.7", "87.4", "83.02"]
score = ["45", "70", "54", "90", "42"]

In [14]:
print(city)

['faisalabad', 'islamabad', 'karachi', 'lahore', 'queta']

In [15]:
print(result)

['93.4', '95', '98.7', '87.4', '83.02']

In [16]:
print(score)

['45', '70', '54', '90', '42']

In [29]:
output = "city_name " + city[0] + "\n result " + str(result[0]) + "\n score " + str(score[0])
print(output)

city_name faisalabad
 result 93.4
 score 45