# Q.1

In [1]:
employee_data=["Ali", "125000", "Google", 5]

In [10]:
output = employee_data[0] + " is working in " + employee_data[2] + " for " + str(employee_data[3]) +  " years and his sallary is " + str(employee_data[1])
print(output)

Ali is working in Google for 5 years and his sallary is 125000

# Q.2

In [14]:
studentData = ["Ahmad Bilal", "GC University.", "'BS Computer Science'", "50000", "28 january 2020.", "05 February 2020."]

In [24]:
show = "Hello " + studentData[0] + " Your Application is accepted for admission in " + studentData[2] + " in " + studentData[1] + "\nYou have to submitted Fee " + str(studentData[3]) + " before " + studentData[4] + "\nYour classes will start from " + studentData[5] + "\nThanks..."

In [25]:
print(show)

Hello Ahmad Bilal Your Application is accepted for admission in 'BS Computer Science' in GC University.
You have to submitted Fee 50000 before 28 january 2020.
Your classes will start from 05 February 2020
Thanks...

# Q.3

In [26]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]
   # You hane a list of cities givin as follows. Use positive and negitive slicing method to print out following outputs.

In [30]:
cities[0:4] # Posotive indexing

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']

In [32]:
cities[3:6]

['Peshawar', 'Quetta', 'Sahiwal']

In [34]:
cities[5:]

['Sahiwal', 'Rawalpindi', 'Sialkot']

In [35]:
cities[-4:-1] # Negitive indexing

['Quetta', 'Sahiwal', 'Rawalpindi']

In [36]:
cities[-5:]

['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# Q.4

In [37]:
Data = ["ALi Raza", 22, 91.24, "Computer science", 5, "University of agriculture"]

In [38]:
Data.append("20 February 2019") # append value in list using append function

In [39]:
Data

['ALi Raza',
 22,
 91.24,
 'Computer science',
 5,
 'University of agriculture',
 '20 February 2019']

In [40]:
Data.append(8) # append value in list using append function

In [41]:
Data

['ALi Raza',
 22,
 91.24,
 'Computer science',
 5,
 'University of agriculture',
 '20 February 2019',
 8]

In [44]:
Data.insert(4, (25000)) # insert value in list using insert function

In [45]:
Data

['ALi Raza',
 22,
 91.24,
 'Computer science',
 25000,
 5,
 'University of agriculture',
 '20 February 2019',
 8,
 [4]]

In [49]:
Data.insert(1, 'M. Iqbal') # insert value in list using insert function

In [50]:
Data

['ALi Raza',
 'M. Iqbal',
 22,
 91.24,
 'Computer science',
 25000,
 5,
 'University of agriculture',
 '20 February 2019',
 8,
 [4]]

In [51]:
Data[0]= "Zohaib ALi" # update value in the list

In [52]:
Data

['Zohaib ALi',
 'M. Iqbal',
 22,
 91.24,
 'Computer science',
 25000,
 5,
 'University of agriculture',
 '20 February 2019',
 8,
 [4]]

In [53]:
Data[6] = "7" # update value in the list

In [54]:
Data

['Zohaib ALi',
 'M. Iqbal',
 22,
 91.24,
 'Computer science',
 25000,
 '7',
 'University of agriculture',
 '20 February 2019',
 8,
 [4]]

In [56]:
Data.remove("Computer science") # remove value using remove function

In [57]:
Data

['Zohaib ALi',
 'M. Iqbal',
 22,
 91.24,
 25000,
 '7',
 'University of agriculture',
 '20 February 2019',
 8,
 [4]]

In [58]:
Data.remove(91.24) # remove value using remove function

In [59]:
Data

['Zohaib ALi',
 'M. Iqbal',
 22,
 25000,
 '7',
 'University of agriculture',
 '20 February 2019',
 8,
 [4]]

In [60]:
Data.pop() # remove value using pop function

[4]

In [61]:
Data

['Zohaib ALi',
 'M. Iqbal',
 22,
 25000,
 '7',
 'University of agriculture',
 '20 February 2019',
 8]

In [63]:
Data.pop(3) # remove value using pop function

25000

In [64]:
Data

['Zohaib ALi',
 'M. Iqbal',
 22,
 '7',
 'University of agriculture',
 '20 February 2019',
 8]